@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
.GImContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ContentDiv {
    width: 80%;
}

.DivText {
    margin-bottom: 30px;
    text-align: justify;
}

.DivText h1 {
    font-family: "Manrope", sans-serif;
    color: #b45f06;
    margin-bottom: 20px;
}